body{
    background-color: #091413;
    color: #B0E4CC;
    margin: 0;
}

div{
    margin-bottom: 10px;
}

h2{
    color: #285A48;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #408A71;
    border: 2px solid #215241;
}

#conteudo{
    padding-left: 32px;
    padding-right: 32px;
}

p, li{
    font-size: 20px;
}

#strong-orange{
    color: orange;
}

#strong-green{
    color: rgb(61, 139, 61);
}

#fontes{
    display: flex;  /*Alinha os itens em linha horizontalmente*/
    justify-content: space-between; /*Adiciona espaço entre os filhos da div fontes*/
}

.fontes-filha{
    width: 19%;
}

.fontes-conteudo{
    height: 50%;
}

.fontes-exemplos{
    height: 50%;
}

.p-exemplos{
    color: rgb(86, 90, 97);
}

.fonte-nome{
    color: #A0D585;
}

#serifa{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sem-serifa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#monoespacada{
    font-family: 'Courier New', Courier, monospace;
}

#cursiva{
    font-family: cursive;
}

#fantasia{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#medidas{
    display: flex;  /*Alinha os itens em linha, horizontalmente*/
}

.tipos-medidas{
    width: 50%;
}

h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}